---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-06-18&enddate=2021-07-18&format=json&key=KEY&q=30.404251,-97.849442&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '551'
      X-Wwo-Qpd-Left:
      - '475'
      Cdn-Cachedat:
      - '2021-07-18 00:36:00'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 559ec244f38875e950b6ac076f8aaa0b
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"weather":[{"date":"2021-06-18","astronomy":[{"sunrise":"06:29
        AM","sunset":"08:36 PM","moonrise":"02:07 PM","moonset":"02:00 AM","moon_phase":"First
        Quarter","moon_illumination":"57"}],"maxtempC":"32","maxtempF":"89","mintempC":"23","mintempF":"74","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"11.6","uvIndex":"7","hourly":[{"time":"0","tempC":"26","tempF":"79","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"123","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"67","visibility":"10","visibilityMiles":"6","pressure":"1014","pressureInches":"30","cloudcover":"11","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"19","DewPointF":"67","WindChillC":"26","WindChillF":"79","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"28","FeelsLikeF":"82","uvIndex":"1"},{"time":"100","tempC":"25","tempF":"78","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"141","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"70","visibility":"10","visibilityMiles":"6","pressure":"1014","pressureInches":"30","cloudcover":"11","HeatInde[...]
