---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-06-10&enddate=2021-07-10&format=json&key=869b86ed620d4f1ea49202956210907&q=30.404251,-97.849442&tp=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '625'
      X-Wwo-Qpd-Left:
      - '500'
      Cdn-Cachedat:
      - '2021-07-10 16:57:32'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 104f1a6d1cd02619a2c207eaf2b0f985
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"weather":[{"date":"2021-06-10","astronomy":[{"sunrise":"06:28
        AM","sunset":"08:33 PM","moonrise":"06:32 AM","moonset":"09:04 PM","moon_phase":"New
        Moon","moon_illumination":"0"}],"maxtempC":"33","maxtempF":"92","mintempC":"23","mintempF":"73","avgtempC":"29","avgtempF":"84","totalSnow_cm":"0.0","sunHour":"11.6","uvIndex":"7","hourly":[{"time":"0","tempC":"25","tempF":"78","windspeedMiles":"13","windspeedKmph":"21","winddirDegree":"177","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"83","visibility":"10","visibilityMiles":"6","pressure":"1014","pressureInches":"30","cloudcover":"12","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"22","DewPointF":"72","WindChillC":"25","WindChillF":"78","WindGustMiles":"19","WindGustKmph":"31","FeelsLikeC":"28","FeelsLikeF":"82","uvIndex":"1"},{"time":"300","tempC":"23","tempF":"74","windspeedMiles":"11","windspeedKmph":"17","winddirDegree":"189","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"90","visibility":"10","visibilityMiles":"6","pressure":"1014","pressureInches":"30","cloudcover":"32","HeatInde[...]
