---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/weather.ashx?format=json&key=869b86ed620d4f1ea49202956210907&num_of_days=2&q=30.404251,-97.849442&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '625'
      X-Wwo-Qpd-Left:
      - '443'
      Cdn-Cachedat:
      - '2021-07-12 17:53:37'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 4dcae8d3db3186b08f2874f59140046d
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"current_condition":[{"observation_time":"09:53
        PM","temp_C":"29","temp_F":"84","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png"}],"weatherDesc":[{"value":"Sunny"}],"windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"120","winddir16Point":"ESE","precipMM":"0.0","precipInches":"0.0","humidity":"61","visibility":"16","visibilityMiles":"9","pressure":"1020","pressureInches":"31","cloudcover":"0","FeelsLikeC":"31","FeelsLikeF":"88","uvIndex":"8"}],"weather":[{"date":"2021-07-12","astronomy":[{"sunrise":"06:38
        AM","sunset":"08:36 PM","moonrise":"08:57 AM","moonset":"10:53 PM","moon_phase":"First
        Quarter","moon_illumination":"28"}],"maxtempC":"32","maxtempF":"89","mintempC":"23","mintempF":"74","avgtempC":"27","avgtempF":"80","totalSnow_cm":"0.0","sunHour":"11.0","uvIndex":"10","hourly":[{"time":"0","tempC":"25","tempF":"77","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"160","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"84","visibility":"10","visibilityMiles":"6","pressure":"1015","pressureInches":"30","cloudcover":"29","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"22","DewPointF":"72","WindChillC":"25","WindChillF":"77","WindGustMiles":"15","WindGustKmph":"24","FeelsLikeC":"28","FeelsLikeF":"82","chanceofrain":"0","chanceofremdry":"85","chanceofwindy":"0","chanceofovercast":"45","chanceofsunshine":"85","chanceoffrost":"0","chanceofhightemp":"44","chanceoffog":"0","chanceofsnow":"0","chanceofthunder":"0","uvIndex":"1"},{"time":"100","tempC":"24","tempF":"76","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"168","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"92","visibility":"10","visibilityMiles":"6","pressure":"1015","pressureInches":"30","cloudcover":"39","HeatInde[...]
