---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/weather.ashx?format=json&key=KEY&num_of_days=2&q=30.404251,-97.849442&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '625'
      X-Wwo-Qpd-Left:
      - '459'
      Cdn-Cachedat:
      - '2021-07-19 09:18:11'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 101867b78abf689e017b345b2262c29f
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"current_condition":[{"observation_time":"01:18
        PM","temp_C":"24","temp_F":"75","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"240","winddir16Point":"WSW","precipMM":"0.0","precipInches":"0.0","humidity":"92","visibility":"16","visibilityMiles":"9","pressure":"1019","pressureInches":"31","cloudcover":"75","FeelsLikeC":"26","FeelsLikeF":"79","uvIndex":"1"}],"weather":[{"date":"2021-07-19","astronomy":[{"sunrise":"06:42
        AM","sunset":"08:33 PM","moonrise":"04:20 PM","moonset":"02:19 AM","moon_phase":"Full
        Moon","moon_illumination":"76"}],"maxtempC":"35","maxtempF":"95","mintempC":"24","mintempF":"75","avgtempC":"29","avgtempF":"84","totalSnow_cm":"0.0","sunHour":"13.9","uvIndex":"11","hourly":[{"time":"0","tempC":"27","tempF":"80","windspeedMiles":"10","windspeedKmph":"16","winddirDegree":"174","winddir16Point":"S","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.3","precipInches":"0.0","humidity":"76","visibility":"10","visibilityMiles":"6","pressure":"1017","pressureInches":"31","cloudcover":"76","HeatIndexC":"29","HeatIndexF":"85","DewPointC":"22","DewPointF":"72","WindChillC":"27","WindChillF":"80","WindGustMiles":"15","WindGustKmph":"24","FeelsLikeC":"29","FeelsLikeF":"85","chanceofrain":"75","chanceofremdry":"0","chanceofwindy":"0","chanceofovercast":"84","chanceofsunshine":"0","chanceoffrost":"0","chanceofhightemp":"98","chanceoffog":"0","chanceofsnow":"0","chanceofthunder":"0","uvIndex":"1"},{"time":"100","tempC":"26","tempF":"79","windspeedMiles":"11","windspeedKmph":"17","winddirDegree":"181","winddir16Point":"S","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.3","precipInches":"0.0","humidity":"79","visibility":"10","visibilityMiles":"6","pressure":"1017","pressureInches":"31","cloudcover"[...]
