---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/weather.ashx?format=json&key=KEY&num_of_days=2&q=30.404251,-97.849442&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '625'
      X-Wwo-Qpd-Left:
      - '480'
      Cdn-Cachedat:
      - '2021-07-18 00:08:48'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - cca89029160f18ca8ffc48674f4da603
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"current_condition":[{"observation_time":"04:08
        AM","temp_C":"26","temp_F":"79","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"windspeedMiles":"4","windspeedKmph":"7","winddirDegree":"150","winddir16Point":"SSE","precipMM":"0.0","precipInches":"0.0","humidity":"68","visibility":"16","visibilityMiles":"9","pressure":"1019","pressureInches":"31","cloudcover":"0","FeelsLikeC":"27","FeelsLikeF":"81","uvIndex":"8"}],"weather":[{"date":"2021-07-17","astronomy":[{"sunrise":"06:40
        AM","sunset":"08:34 PM","moonrise":"02:06 PM","moonset":"01:07 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"62"}],"maxtempC":"34","maxtempF":"93","mintempC":"23","mintempF":"73","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"11","hourly":[{"time":"0","tempC":"26","tempF":"78","windspeedMiles":"12","windspeedKmph":"20","winddirDegree":"170","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"76","visibility":"10","visibilityMiles":"6","pressure":"1015","pressureInches":"30","cloudcover":"9","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"21","DewPointF":"70","WindChillC":"26","WindChillF":"78","WindGustMiles":"19","WindGustKmph":"30","FeelsLikeC":"28","FeelsLikeF":"82","chanceofrain":"0","chanceofremdry":"89","chanceofwindy":"0","chanceofovercast":"36","chanceofsunshine":"82","chanceoffrost":"0","chanceofhightemp":"62","chanceoffog":"0","chanceofsnow":"0","chanceofthunder":"0","uvIndex":"1"},{"time":"100","tempC":"25","tempF":"77","windspeedMiles":"12","windspeedKmph":"19","winddirDegree":"173","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"81","visibility":"10","visibilityMiles":"6","pressure":"1015","pressureInches":"30","cloudcover":"11","HeatIndex[...]
