---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/weather.ashx?format=json&key=KEY&num_of_days=2&q=30.404251,-97.849442&tp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '625'
      X-Wwo-Qpd-Left:
      - '485'
      Cdn-Cachedat:
      - '2021-07-18 23:05:21'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 286f1ae1ab9c33e337374633889ae881
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"LatLon","query":"Lat 30.40 and Lon -97.85"}],"current_condition":[{"observation_time":"03:05
        AM","temp_C":"28","temp_F":"82","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"windspeedMiles":"4","windspeedKmph":"6","winddirDegree":"140","winddir16Point":"SE","precipMM":"0.0","precipInches":"0.0","humidity":"64","visibility":"16","visibilityMiles":"9","pressure":"1018","pressureInches":"31","cloudcover":"0","FeelsLikeC":"28","FeelsLikeF":"83","uvIndex":"8"}],"weather":[{"date":"2021-07-18","astronomy":[{"sunrise":"06:41
        AM","sunset":"08:33 PM","moonrise":"03:12 PM","moonset":"01:41 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"69"}],"maxtempC":"35","maxtempF":"96","mintempC":"23","mintempF":"73","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"13.9","uvIndex":"11","hourly":[{"time":"0","tempC":"26","tempF":"79","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"172","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"75","visibility":"10","visibilityMiles":"6","pressure":"1018","pressureInches":"31","cloudcover":"4","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"21","DewPointF":"70","WindChillC":"26","WindChillF":"79","WindGustMiles":"14","WindGustKmph":"23","FeelsLikeC":"28","FeelsLikeF":"82","chanceofrain":"0","chanceofremdry":"90","chanceofwindy":"0","chanceofovercast":"48","chanceofsunshine":"76","chanceoffrost":"0","chanceofhightemp":"98","chanceoffog":"0","chanceofsnow":"0","chanceofthunder":"0","uvIndex":"1"},{"time":"100","tempC":"25","tempF":"78","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"177","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"80","visibility":"10","visibilityMiles":"6","pressure":"1018","pressureInches":"31","cloudcover":"5","HeatIndexC"[...]
